<div class="row">
  <div class="col-md-6">
    <h2>Post a new blog!</h2>

    <form class="form">
      <div class="form-group">
        <label for="blog-title">Title</label>
        <input class="form-input" type="text" id="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Post</label>
        <textarea class="form-input" type="text" id="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="newPost" type="submit">Post Blog</button>
      </div>
    </form>
 
</div>
</div>