<h1>HOMEPAGE</h1>

<a href="./login">Login Page</a>

{{#each blogs as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}}</h2>
    <p>{{blog.content}}</p>
  </div>
</div>
{{/each}}