<div class="row">
  <div>


    <h2>{{users.first_name}}</h2>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Login</a>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Sign-up</a>

</div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h2>Login</h2>

        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" autocomplete="on" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" id="loginBtn" type="submit">login</button> <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </form>

      </div>
    </div>
  

   <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">

      <h2>Signup</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="first-name-signup">First Name:</label>
      <input class="form-input" name="first_name" type="text" id="first-name-signup" />
    </div>
    <div class="form-group">
      <label for="last-name-signup">Last Name:</label>
      <input class="form-input" type="text" name="last_name" id="last-name-signup" />
    </div>
    <div class="form-group">
      <label for="display-name-signup">Username:</label>
      <input class="form-input" type="text" name="display_name" id="display-name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" autocomplete="off" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="signupBtn" type="submit">signup</button> <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </form>

      </div>
    </div>
